<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>  
        <add key="Serial" value="emulator-5554"/>  
        <add key="AndroidApk" value="../../../../../android/presentation/build/outputs/apk/dev/debug/presentation-dev-debug.apk"/>  
        <add key="IOSApk" value="../../../Binaries/presentation-dev-debug.apk"/>  
  </appSettings>  
</configuration>
